= render :partial => "shared/notice_invite_required"
- @partial_title = "Sign In"
#page_header
  %h2
    = "Sign In"

#page_body
  - semantic_form_for resource_name, resource, :url => session_path(resource_name) do |f|
    = f.input :email
    = f.input :password
    - f.buttons do
      = f.commit_button :label => "Sign In", :button_html => {:class => "green"}