= render :partial => "shared/notice_referral"

#page_header
  %h2
    Refer your Friends

#page_body.wide
  - semantic_form_for :referral, :url => referrals_url do |f|
    - f.inputs do
      - unless user_signed_in?
        = f.input :first_name, :last_name
        = f.input :email, :example => "johnsmith@gmail.com"
      = f.input :email_list, :rows => 5, :label => "Emails"
      = f.input :email_text, :as => :text
    - f.buttons do
      = f.commit_button "Tell your friends", :button_html => {:class => "green"}
      %li
        = link_to "Cancel", root_url, :class => "red"

