#page_header
  %h1
    = "Editing #{@email.name}"

#page_body
  / Edit email form
  - semantic_form_for @email, :url => admin_email_url(@email) do |f|
    - f.inputs do
      = f.input :name, :example => "invitation"
      = f.input :subject, :example => "Welcome to #{@site.name}"
      = f.input :body, :example => "You have been invited!"
    - f.buttons do
      = f.submit "Update" 
      = link_to "Cancel", admin_emails_url, :class => "cancel"