#page_header
  %h1
    Site Settings

#page_body
  = error_messages_for 'site_setting'
  - semantic_form_for(@site, :url => admin_site_setting_url, :method => :put) do |f|
    - f.inputs do
      = f.input :name, :label => "Site Name", :example => "Handcrafted Web App"
      = f.input :url, :label => "Site URL", :example => "http://app.gethandcrafted.com" 
      = f.input :description, :label => "Site Description", :example => "A handcrafted web app that will be all the rage"
      = f.input :admin_email, :label => "Outgoing email address", :example => "hello@app.gethandcrafted.com"
      = f.input :user_avatars, :label => "Use gravatar pictures?"
      = f.input :beta_invites, :label => "Enable beta invites?"
      = f.input :public_profiles, :label => "Enable public profile viewing?"
      = f.input :referrals, :label => "Enable tell a friend?"
    - f.buttons do
      = f.commit_button "Update", :button_html => {:class => "green"}
      %li
        = link_to "Cancel", admin_dashboard_url, :class => "red"