#page_header
  %h1
    = "Editing #{@user.display_name}"

#page_body
  / Edit user form
  - semantic_form_for @user, :url => admin_user_url(@user) do |f|
    = f.input :email, :hint => "Frank@gethandcrafted.com"
    = f.input :password
    = f.input :password_confirmation
    - semantic_fields_for @user.profile do |profile|
      = profile.input :first_name, :hint => "Frank", :required => false
      = profile.input :last_name, :hint => "Miller", :required => false
    = f.buttons :commit